@import "tailwindcss";


/**/
:root {
  --background: #ffffff; /* Light mode background */
  --foreground: #171717; /* Light mode text */
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}


select,
input,
button 



/* Reset styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}